<br><br><br><br><br><br>

<form [formGroup]="form">
  <div class="col-md-6">
    <div class="input-group mb-1">

      <label class="pr-3 pt-1">Preencha seu CPF: </label>
      <input type="text" class="form-control" required placeholder="000.000.000-00" [(ngModel)]="cpf"/>
    </div>
  </div>

  <br>

  <div class="col-md-6">
    <div class="input-group-append float-right">
      <button class="btn btn-outline-secondary" type="button" (click)="continuar()" >
        Continuar
      </button>
    </div>
  </div>
</form>

<br><br><br>
{{permissaoAcesso}}


<br><br><br>

