<div style="width: 100%; height: 100%;">
  <nav class="navbar navbar-expand navbar-dark bg-info p-0" >
    <img class="logo-size" src="assets/logo_cronos.jpeg" >

    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item px-2">
        <a href="/formulario-cadastro" class="nav-link" routerLink="home" style="font-size: 20px;  color: #e9ecef !important;">Home </a>
      </li>
      <li class="nav-item px-2" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin" style="font-size: 20px;  color: #e9ecef !important;">Visão Administrador</a>
      </li>
      <li class="nav-item px-2" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod" style="font-size: 20px;  color: #e9ecef !important;">Visão Prefeitura</a>
      </li>
      <li class="nav-item px-2">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user" style="font-size: 20px;  color: #e9ecef !important;">Visão Usuário Comum</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto"  >
      <li class="nav-item px-2" *ngIf="false">
        <a href="/register" class="nav-link" routerLink="register" style="font-size: 20px;  color: #e9ecef !important;">Registrar</a>
      </li>
      <li class="nav-item px-2">
        <a href="/login" class="nav-link" routerLink="login" style="font-size: 20px;  color: #e9ecef !important;">Entrar</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn" >
      <li class="nav-item px-2">
        <a href="/profile" class="nav-link" routerLink="profile" style="font-size: 20px;  color: #e9ecef !important;">Usuário: {{ username }}</a>
      </li>
      <li class="nav-item px-2">
        <a href class="nav-link" (click)="logout()" style="font-size: 20px;  color: #e9ecef !important;">Sair</a>
      </li>
    </ul>
  </nav>

  <div class="px-3 my-3" style="width: 100%; height: 100%;">
    <router-outlet></router-outlet>
  </div>
</div>
