<br><br><br><br><br><br>

<div class="col-md-6">
  <div class="input-group mb-1">

    <label class="pr-3 pt-1">CPF: </label>
    <input type="text" class="form-control" placeholder="000.000.000-00" [(ngModel)]="cpf"/>
  </div>
</div>

<br>

<div class="col-md-6 ">
  <div class="input-group mb-1">

    <label class="pr-2 pt-1">Senha: </label>
    <input type="text" class="form-control pl-5" [(ngModel)]="senha"/>
  </div>
</div>

<div class="col-md-6 ">
  <div class="text-center">
    <a href="#">Não tem cadastro?</a>
  </div>
</div>

<br>

<div class="col-md-6">
  <div class="input-group-append float-right">
    <button class="btn btn-outline-secondary" type="button" (click)="logar()" >
      Logar
    </button>
  </div>
</div>



<br><br><br>


<!--div class="col-md-6">
  <h4>Tutorials List</h4>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let tutorial of tutorials; let i = index"
      [class.active]="i == currentIndex"
      (click)="setActiveTutorial(tutorial, i)"
    >
      {{ tutorial.title }}
    </li>
  </ul>

  <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
    Remove All
  </button>
</div>

<div class="col-md-6">
  <div *ngIf="currentTutorial.id">
    <h4>Tutorial</h4>
    <div>
      <label><strong>Title:</strong></label> {{ currentTutorial.title }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentTutorial.description }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentTutorial.published ? "Published" : "Pending" }}
    </div>

    <a class="badge badge-warning" routerLink="/tutorials/{{ currentTutorial.id }}">
      Edit
    </a>
  </div>

  <div *ngIf="!currentTutorial">
    <br />
    <p>Please click on a Tutorial...</p>
  </div>
</div -->

