<div class="panel rounded bg-white">
  <div class="col-12 col-md-12 col-lg-12">

    <p class="fs-18 pt-2"><b>Tela de consulta dos cadastros </b></p>
    <br>


    <div class="form-row m-0">
      <div class="form-group col-md-6 col-lg-6 pr-3">
        <label for="inputNome"> <b> Nome: </b> </label>
        <input type="text" class="form-control" [(ngModel)]="filtroNome" id="inputNome">
      </div>
      <div class="form-group col-md-3 col-lg-3 px-3">
        <label for="inputCPF"> <b> CPF: </b> </label>
        <input type="text" class="form-control" id="inputCPF" [(ngModel)]="filtroCPF" mask="000.000.000-00">
      </div>

      <div class="form-group col-md-3 col-lg-3 px-3">
        <label for="selectSituacao"> <b> Situação: </b> </label>
        <select id="selectSituacao" class="form-control" name="selectSituacao" [(ngModel)]="filtroSituacao">
          <option value="0">Selecione</option>
          <option value="1">Envio Pendente</option>
          <option value="2">Dados Enviados</option>
          <option value="3">Regularização Concluída</option>
        </select>
      </div>
    </div>

    <div class="form-row m-0">
      <div class="form-group col-md-6 col-lg-6 pr-3">
        <label for="inputEndereco"> <b> Endereço: </b> </label>
        <input type="text" class="form-control" [(ngModel)]="filtroEndereco" id="inputEndereco">
      </div>
      <div class="form-group col-md-3 col-lg-3 px-3">
        <label for="inputCEP" > <b> CEP: </b> </label>
        <input type="text" class="form-control" id="inputCEP" [(ngModel)]="filtroCep" mask="00.000.000">
      </div>

      <div class="form-group col-md-3 col-lg-3 px-3">
        <label for="inputBairro"> <b> Bairro: </b> </label>
        <input type="text" class="form-control" [(ngModel)]="filtroBairro" id="inputBairro">
      </div>
      <div class="form-group col-md-3 col-lg-3 pr-3">
        <label for="inputMunicipio"> <b> Município: </b> </label>
        <input type="text" class="form-control" [(ngModel)]="filtroMunicipio" id="inputMunicipio">
      </div>

      <div class="form-group col-md-2 col-lg-2 pr-3">
        <label for="selectUf"> <b> UF: </b> </label>
        <select id="selectUf" class="form-control" name="uf" [(ngModel)]="filtroUf">
          <option value="">Selecione</option>
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
        </select>
      </div>

      <div class="form-group col-md-5 col-lg-5 pr-3">
      </div>

      <div class="form-group col-md-2 col-lg-2 pr-3 pt-4">
        <button type="submit" class="btn btn-primary float-right" id="botaoPesquisar"
          (click)="pesquisar()">Pesquisar</button>
      </div>

    </div>

    <br>

    <button (click)="exportAsXLSX()" class="btn btn-success float-right mr-2 mb-2"> Exportar
      <fa-icon class="fa-lg ml-1" [icon]="['fas', 'file-excel']"></fa-icon>
    </button>

    <br>
    <table class="table table-bordered table-responsive-md text-center table-striped">
      <thead class="">
        <tr>
          <th class="col-md-2 col-lg-3" scope="col">Nome</th>
          <th class="col-md-2 col-lg-1" scope="col">CPF</th>
          <th class="col-md-2 col-lg-2" scope="col">Localização</th>
          <th class="col-md-2 col-lg-1" scope="col">CEP</th>
          <th class="col-md-2 col-lg-1" scope="col">Bairro</th>
          <th class="col-md-2 col-lg-1" scope="col">Município</th>
          <th class="col-md-2 col-lg-1" scope="col">UF</th>
          <th class="col-md-2 col-lg-1" scope="col">Situação</th>
          <th class="col-md-1 col-lg-1" scope="col">Ações</th>
        </tr>
      </thead>

      <tbody class="">
        <tr *ngFor="let cadastro of cadastrosPessoais ">
          <td class="pt-3-half" >
            <span tabindex="0">{{cadastro.Nome}}</span>
          </td>

          <td class="pt-3-half" >
            <span tabindex="0">{{cadastro.CPF}}</span>
          </td>

          <td class="pt-3-half" >
            <span tabindex="0">{{cadastro.Endereco_Imovel}}</span>
          </td>

          <td class="pt-3-half" >
            <span tabindex="0">{{cadastro.CEP_Imovel}}</span>
          </td>

          <td class="pt-3-half" >
            <span tabindex="0">{{cadastro.Bairro_Imovel}}</span>
          </td>

          <td class="pt-3-half" >
            <span tabindex="0">{{cadastro.Municipio_Imovel}}</span>
          </td>

          <td class="pt-3-half" >
            <span tabindex="0">{{cadastro.UF_Imovel}}</span>
          </td>

          <td class="pt-3-half" >
            <span tabindex="0">{{cadastro.Situacao_Cadastro}}</span>
          </td>

          <td class="d-flex">
            <button type="submit" class="btn btn-primary px-2 mx-2  " tabindex="0" container="body"
              data-toggle="tooltip" data-placement="bottom" title="Excluir">
              <fa-icon class="fa-lg" [icon]="['fas', 'times-circle']" ></fa-icon>
            </button>
            <button type="submit" class="btn btn-primary px-2  " tabindex="0" container="body"
              data-toggle="tooltip" data-placement="bottom" title="Editar">
              <fa-icon class="fa-lg" [icon]="['fas', 'edit']"></fa-icon>
            </button>
          </td>
        </tr>

      </tbody>
    </table>

    <br><br><br>

  </div>
</div>
